<?xml version="1.0"?>
<!--
/**
 * Copyright © element119. All rights reserved.
 * See LICENCE.txt for licence details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Api\BlockRepositoryInterface">
        <plugin name="add-cms-block-identifier-to-markup"
                type="Element119\CmsIdentifierMarkup\Plugin\AddCmsBlockIdentifierToMarkup"
                sortOrder="10"/>
    </type>
</config>
